<div class="container">
  <div>
    <h2> Angular Components Reusable - DataTable</h2>
  </div>
  <div>
    <app-table [tableData]="tableData" [tableColumns]="tableColumns"></app-table>
  </div>
  <router-outlet></router-outlet>
</div>

