<div class="table-responsive">
  <table class="table table-bordered table-striped table-hover table-success">
    <thead>
      <tr>
        <th *ngFor="let key of tableColumns"> {{ key.headers }} </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let record of tableData">
        <td *ngFor="let key of tableColumns">
          <span> {{ record[key.field] }} </span>
        </td>
      </tr>
    </tbody>
  </table>
</div>
